.expand {
	font-size: 10px;
}

.sidenav {
  height: 100%;
  width: 12%;
  position: fixed;
  /*z-index: 1;*/
  top: 0px;
  left: 0px;
  background-color: #000000;
  /*overflow-x: hidden;*/
  /*overflow: auto;*/
  padding-top: 20px;
  font-family: sans-serif;
}

#RAM {
	font-weight: bold;
	font-size: 24px;
}

#Drives {
	font-weight: bold;
	font-size: 24px;
}

#CPU {
	font-weight: bold;
	font-size: 24px;
}

#banner {
	background-image: url("cpu_button.png");
	background-repeat: repeat-x;
	padding-left: 20px;
	height: 50px;
	width: 100%;
	margin: 0 auto;
	text-align: left;
	font-size: 40px;
	color: #19d338;
	/*overflow: visible;
	background-position: center center;
	background-size: contain;*/
	position: absolute;
}

#dataArea {
	padding-top: 100px;
	height: 100%;
	width: 50%;
	margin: 0 auto;
	text-align: center;
	font-size: 40px;
	color: #19d338;
}

#data {
	width: 88%;
	height: 100%;
	position: fixed;
	/*z-index: 2;*/
	left: 12%;
	top: 0px;
	overflow: auto;
	font-family: sans-serif;
	background-color: #303030;
}

/* Style the sidenav links and the dropdown button */
.sidenav div {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #ccccc3;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
  border-bottom: 1px solid white;
}

.sidenav div div {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #ccccc3;
  display: block;
  border: none;
  background: none;
  width:100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

/* On mouse-over */
.sidenav div:hover{
  color: #f1f1f1;
}

.sidenav div div:hover{
	color: #f1f1f1;
}